// index
main {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba($beige,.5),inset 0 0 10px rgba($beige,.3);
    @include border-solid (2px, $beige);
    transition: .1s all linear;
    &.pages {
        width: calc(100vw - 250px);
    }
}
section {
    position: absolute;
    z-index: 1;
    top:2%;
    width:98%;
    height: 96%;
    padding:25px 10%;
    border-radius: 10px;
    @include border-dash (2px, $beige);
    overflow: hidden;
    h1 {
        margin:0;
        font-size: 60px;
        font-weight: 400;
    }
    .blurb {
        position: relative;
        height: 80%;
        width: 50%;
        padding: 35px;
        margin-top: 25px;
        @include border-solid (2px, $beige);
        border-radius: 10px;
        font-family: 'Coming Soon', cursive;
        font-size: 1.5rem;
        &:after {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaley(.95) scalex(.965);
            border-radius: 10px;
            @include border-dash (2px, $beige);

        }
    }
    transition: 0s all linear .8s, .3s top linear .2s, .2s width linear .5s, .2s height linear .5s;
    &.closed {
        z-index: 3;
        padding:0;
        top:95%;
        width:2%;
        height: 0;
        transition: 0s all linear .1s, .3s top linear .4s, .2s width linear .2s, .2s height linear;
    }

}